<!DOCTYPE html>
<html>
<head>
	<title>Login & Registration</title>
</head>

<body>
	<div>
		<form action='/register' method='post'>
		{% csrf_token%}
		First Name: <input type="text" name="first_name"> <br>

		Last Name: <input type="text" name="last_name"> <br>

		Email: <input type="text" name="email"> <br>

		Password: <input type="password" name="password"> <br>

		Confirm Password: <input type="password" name="confirm_password"> <br>

		<input type="submit" name="submit" value="Submit">
		</form>
	</div>
	<hr>
	<div>
		<form action="/login" method="post">
		{% csrf_token%}
		Email: <input type="text" name="emaillog"> <br>

		Password: <input type="password" name="passwordlog"> <br>

		<br>
		<input type="submit" name="login" value="login">
		</form>
	</div>
		{% for i in errors.items%}
			{% for error in i%}
			<p>{{error}}</p>
			{%endfor%}
		{%endfor%}


</body>
</html>