.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.imaginary_container{
	margin-left: 20px;
}
div#background_image{
	background-image: url("table_cloth.jpg");
	height: 1000px;
	width: 100%;
}
div.recipeResult: {
	background-image: url("table_cloth.jpg");
	height: 100%;
	width: 66%;
}
.recipeDiv {
	width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    background-color: #0241B3;
    margin: 20px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}
img{
	border-radius: 10px;
}
h4 {
	text-transform: capitalize;
	color: white;
}

pre{
	background-color: 
}

.btn{
	background-color: #C6B77C
}